<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta jutut -->
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="portfolio">
    <meta name="author" content="Leevi Popponen">

    <title>Portfolio - Lahja-Jaakko</title>
    <!-- Bootstrappi -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Fancybox -->
    <link rel="stylesheet" href="assets/css/jquery.fancybox.css" type="text/css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/d1cb9e2acb.js" crossorigin="anonymous"></script>

    <!-- Tyylit -->
    <link rel="stylesheet" href="assets/css/prism.css" type="text/css">
    <link rel="stylesheet" href="assets/css/styles.css?v=1.35" type="text/css">

    <!-- Fontit -->

</head>

<body>
    <div class="nav-wrap">
        <div class="container">
            <!-- Navi -->
            <div class="nav-toggle">
                <i class="fas fa-bars"></i>
            </div>
            <nav id="navi">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#Esisanat">Esisanat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#hankittuosaaminen">Hankittu osaaminen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Osaamisennaytto">Osaamisen näyttö</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Reflektointi">Reflektointi</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container-fluid" id="header">
        <header>
            <h1>Portfolio - Lahja-Jaakko</h1>
        </header>
    </div>

    <div class="container">

        <!-- Esisanat -->
        <article id="Esisanat" data-anchor="Esisanat">
            <h2>Esisanat</h2>
            <blockquote>
                <p>
                    ”Tiimimme tekee Lahja-Jaakko sovelluksen, jonka idea on helpottaa lahjanvalintaa. Myös
                    lahjansaaja saa vain tarpeellisia lahjoja. Sovelluksessa luodaan ryhmiä, kirjoitetaan omat
                    lahjatoiveet
                    ylös ja jaetaan ryhmä muille juhlavieraille. Juhlavieraat voivat käydä varaamassa lahjan.
                </p>
                <p>
                    Lahja-Jaakko on tehty käyttäjille, jotka haluavat jakaa lahjatoivelistansa juhlaan tulijoille.
                    Tällaisia
                    juhlia ovat esimerkiksi häät, rippi- ja ylioppilasjuhlat.”
                </p>
            </blockquote>
            <p>
                Olin jäsenenä tiimissä, jonka ideana oli tehdä sovellus helpottamaan lahjojen jakamista ihmisten
                kesken. Tiimiin kuului yhteensä viisi henkilöä ja jokaiselle oli jaettu omaa kiinnostusta ja osaamista
                vastaavat hommat. Itse olin projektissa toinen koodareista, hoidin projektin HTML- & CSS-koodin
                kirjoittamisen ja varmistin, että sovellus on responsiivinen, sen lisäksi olin projektin päätestaajana
                ja hoidin testiraporttien tekemisen ja sovelluksen testaamisen.
            </p>
            <p>
                Aloitimme projektin tekemisen 2020 tammikuussa ja saimme sen valmiiksi 2020 toukokuun alkuun.
                Projektiin kului itselläni yhteensä 400 tuntia, joista kokouksiin ja koulutuksiin meni 50 tuntia ja
                loput sitten koodaamiseen ja testaukseen.
            </p>
            <p>
                Tämä projekti oli itselleni todella mukava, koska tässä pääsi kokemaan erilaisia työskentelytapoja.
                Projektin alussa meillä oli omat toimistotilat missä saimme tiiminä työskennellä, ja sitä kautta sai
                sopivan rytmin töihin. Myöhemmin kun COVID-19 asiat alkoivat eskaloitumaan niin siirryimme tekemään
                pelkästään etätöitä ja siinä pääsi taasen tutustumaan miten etätyökulttuuri toimii ja mitä mahdollisia
                hyötyjä ja haittoja siitä on projektille.
            </p>

        </article>

        <!-- Hankittu osaaminen -->
        <article id="hankittuosaaminen" data-anchor="hankittuosaaminen">
            <h2>Hankittu Osaaminen</h2>
            <div class="row justify-content-center">
                <div class="osaaminen">
                    <img src="assets/img/angular.png" alt="Angular logo">
                    <h5>Angular</h5>
                    <ul>
                        <li>Perusteet</li>
                        <li>Lomakkeet ja validointi</li>
                        <li>Työskentely tuotteen parissa</li>
                    </ul>
                </div>

                <div class="osaaminen">
                    <img src="assets/img/html5.png" alt="HTML5 logo">
                    <h5>Frontend</h5>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3/Stylus</li>
                        <li>Bootstrap</li>
                        <li>Responsive web design</li>
                        <li>UI/UX käytänteisiin tutustuminen</li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="osaaminen">
                    <img src="assets/img/testaus.png" alt="Testaus logo">
                    <h5>Testaus</h5>
                    <ul>
                        <li>Testauksen perusteet</li>
                        <li>Dokumentointi</li>
                        <li>Konseptitestaus</li>
                        <li>Testauksen suunnittelu</li>
                    </ul>
                </div>

                <div class="osaaminen">
                    <img src="assets/img/firebase.png" alt="Firebase logo">
                    <h5>Firebase</h5>
                    <ul>
                        <li>Perusteita</li>
                        <li>Tietokannan perusteet</li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="osaaminen">
                    <img src="assets/img/Octocat.png" alt="GitHub logo">
                    <h5>GitHub</h5>
                    <ul>
                        <li>Versionhallinta</li>
                        <li>Mergeconfliktien selvittely</li>
                        <li>ZenHubin käyttö</li>
                    </ul>
                </div>
                <div class="osaaminen">
                    <img src="assets/img/scrum.png" alt="Scrum logo">
                    <h5>Muut</h5>
                    <ul>
                        <li>Scrum menetelmiin tutustuminen</li>
                        <li>Tiimityöskentely projektissa</li>
                        <li>ZenHubin käyttö</li>
                        <li>Etätyökulttuuri projektissa</li>
                    </ul>
                </div>
            </div>
        </article>

        <!-- Osaamisen näyttö -->
        <article id="Osaamisennaytto" data-anchor="Osaamisennaytto">
            <h2>Osaamisen näyttö</h2>

            <p>
                Rakensin sovelluksen fronttikerroksen sisällöntuottajien ohjeistuksien ja toiveiden perusteella sekä
                autoin
                heitä
                valitsemaan sovelluksessa käytettävät värit, kuvat, ikonit ja fontit.
            </p>
            <p>
                Alla on screenshotteja siitä miltä sovellus näytti valmiina. <a
                    href="http://lahjajaakko.ticorporate.fi/lahjajaakko/kirjaudu">Lahja-Jaakko</a> -sovellus on myös
                hostattuna tällä
                hetkellä <a href="http://ticorporate.fi">Ticorporaten</a> sivuilla, josta sitä pääsee katselemaan.
            </p>

            <div class="row justify-content-center galleria">
                <a data-fancybox="gallery" data-options='{"caption" : "Sisäänkirjautumis näkymä sivulla"}'
                    href="assets\img\big\sovellus_big_1.jpg">
                    <img src="assets\img\small\sovellus_small_1.jpg">
                </a>
                <a data-fancybox="gallery" data-options='{"caption" : "Lahja-Jaakko sovelluksen etusivu"}'
                    href="assets\img\big\sovellus_big_2.jpg">
                    <img src="assets\img\small\sovellus_small_2.jpg">
                </a>
                <a data-fancybox="gallery" data-options='{"caption" : "Ryhmän luomis sivun ulkoasu"}'
                    href="assets\img\big\sovellus_big_3.jpg">
                    <img src="assets\img\small\sovellus_small_3.jpg">
                </a>
                <a data-fancybox="gallery" data-options='{"caption" : "Ryhmät sivun ulkoasu"}'
                    href="assets\img\big\sovellus_big_4.jpg">
                    <img src="assets\img\small\sovellus_small_4.jpg">
                </a>
                <a data-fancybox="gallery" data-options='{"caption" : "Ohje sivun ulkoasu"}'
                    href="assets\img\big\sovellus_big_5.jpg">
                    <img src="assets\img\small\sovellus_small_5.jpg">
                </a>
                <a data-fancybox="gallery" data-options='{"caption" : "Mobiili näkymä sovelluksen etusivulta"}'
                    href="assets\img\big\sovellus_big_6.jpg">
                    <img src="assets\img\small\sovellus_small_6.jpg">
                </a>
                <a data-fancybox="gallery" data-options='{"caption" : "Ryhmän luonti sivun näkymä mobiilissa"}'
                    href="assets\img\big\sovellus_big_8.jpg">
                    <img src="assets\img\small\sovellus_small_8.jpg">
                </a>
                <a data-fancybox="gallery" data-options='{"caption" : "Ryhmät sivun näkymä mobiilissa"}'
                    href="assets\img\big\sovellus_big_7.jpg">
                    <img src="assets\img\small\sovellus_small_7.jpg">
                </a>
            </div>
            <h3>CSS</h3>
            <p>
                Sen sijaan että olisin kirjoittanut suoraan CSS:ää niin käytin <a
                    href="https://stylus-lang.com">Stylusta</a>.
                Halusin opetella projektin aikana jotain CSS-preprosessorikieltä, joista suosituimpia ovat Sass ja Less.
                Stylus kiinnosti minua niistä eniten joten valitsin sen.
                Toisin kuin CSS:ssä Styluksessa ei käytetä ollenkaan aaltosulkuja vaan eri elementtien tyylit jaotellaan
                oikealla sisennyksellä.
                Myös kaksois- ja puolipisteiden käyttö on vapaaehtoista, mikä nopeuttaa koodin kirjoittamista
                huomattavasti.
            </p>

            <p>
                Alla on koodiesimerkki miltä form-groupin tyylimääritys näyttää Styluksella kirjoitettuna.
            </p>
            <pre>
                <code class="language-Stylus">
.form-group
    font-size 1rem
    font-weight 600
    text-align left
    color white
    margin 5px
    text-shadow 1px 1px 2px -shadow-color
    -webkit-text-shadow 1px 1px 2px -shadow-color
    -moz-text-shadow 1px 1px 2px -shadow-color
    
    label
        margin-top 10px
        margin-bottom -5px
    
    input, select
        background-color white
        color black
        border-radius 15px
        margin auto
        width 400px
        border-left 5px solid -orange-light
        border-right 5px solid -orange-light
        border-top 1px solid -orange-light
        border-bottom 1px solid -orange-light

                </code>
            </pre>

            <p>
                Hyödynsin projektissa Styluksen muuttujia väreille sen takia että olisi helppo hallita projektissa
                käytettäviä värejä.
            </p>
            <pre>
                <code class="language-Stylus">
//Käytössä olevien värien määrittely

-main-color 			= hsla(205, 100, 60, 1)
-main-color-light 		= hsla(190, 80, 52, 1)
-main-color-dark 		= hsla(237, 100, 58, 1)
-main-color-middle 		= hsla(221, 80, 52, 1)
-main-color-highlight	= hsla(174, 100, 58, 1)

//Fontin värit
-font-color				= hsla(0, 0, 99, .92)
-font-hover				= hsla(0, 0, 100, 1)

//Toinen pääväri
-orange					= hsla(25, 100, 58, .95)
-orange-light			= hsla(25, 100, 78, .95)

//Valkoinen pienellä opacityllä
-white-fix				= hsla(0, 0, 100, .95) 

//Varjot
-shadow-color			= hsla(0, 0, 0, .75)
                </code>
            </pre>

            <h3>TypeScript</h3>
            <p>data.service.ts tiedostoon tehty lomake, joka sisältää validoinnin.</p>
            <pre>
                <code class="language-TypeScript">
feedbackForm = new FormGroup({
    name: new FormControl('', [Validators.required, Validators.maxLength(30)]),
    email: new FormControl('', [Validators.pattern('^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+[.]+[a-zA-Z0-9-.]+$'), Validators.required]),
    subject: new FormControl('', [Validators.required, Validators.maxLength(30)]),
    message: new FormControl('', [Validators.required, Validators.maxLength(1000)]),
    });
                </code>
            </pre>

            <p>Formin lähetys tietokantaan.</p>
            <pre>
                <code class="language-TypeScript">
onSubmit() {
    const formData = this.dataService.feedbackForm.value;
    const data = {
        name: formData.name,
        email: formData.email,
        subject: formData.subject,
        message: formData.message,
    };
    this.dataService.createFeedback(data)
        .then( res => { 
        console.log('response: ' + res);
        if (res) {

            this.dataService.feedbackForm.reset();
            let element = document.getElementById('palauteLaatikko');
            element.click();

        }
    

        });
    }
               </code>
            </pre>

            <h3>HTML</h3>
            <p>Alla on Info-sivulta palauteformin HTML-koodi.</p>
            <pre class="language-html">
                <code type="text/plain">
&lt;form [formGroup]="this.dataService.feedbackForm" (ngSubmit)="onSubmit()">
    &lt;label for="name">Nimi</label>
    &lt;input formControlName="name" placeholder="Nimi" type="text" class="form-control" id="name"
        required>
    &lt;div
        *ngIf="this.dataService.feedbackForm.controls.name.invalid  && (this.dataService.feedbackForm.controls.name.touched)">
        &lt;p *ngIf="this.dataService.feedbackForm.controls.name.errors.maxlength" class="errorText">
            Nimen maksimipituus on 30 merkkiä.
        &lt;/p>
    &lt;/div>
    &lt;label for="email">Sähköposti</label>
    &lt;input formControlName="email" placeholder="Sähköposti" type="email" class="form-control" id="email"
        required>
    &lt;div
        *ngIf="this.dataService.feedbackForm.controls.email.invalid  && (this.dataService.feedbackForm.controls.email.touched)">
        &lt;p *ngIf="this.dataService.feedbackForm.controls.email.errors.pattern" class="errorText">
            Sähköpostiosoite on virheellinen.
        </p>
    &lt;/div>
    &lt;label for="subject">Aihe&lt;/label>
    &lt;input formControlName="subject" placeholder="Aihe" type="text" class="form-control" id="subject"
        required>
    &lt;div
        *ngIf="this.dataService.feedbackForm.controls.subject.invalid  && (this.dataService.feedbackForm.controls.subject.touched)">
        &lt;p *ngIf="this.dataService.feedbackForm.controls.subject.errors.maxlength" class="errorText">
            Aiheen maksimipituus on 30 merkkiä.
        &lt;/p>
    &lt;/div>
    &lt;label for="message">Viesti&lt;/label>
    &lt;textarea formControlName="message" placeholder="Viesti" type="text" rows="5" class="form-control"
        id="message" required>&lt;/textarea>
    &lt;div
        *ngIf="this.dataService.feedbackForm.controls.message.invalid  && (this.dataService.feedbackForm.controls.message.touched)">
        &lt;p *ngIf="this.dataService.feedbackForm.controls.message.errors.maxlength" class="errorText">
            Viestin maksimipituus on 1000 merkkiä.
        &lt;/p>
    &lt;/div>
&lt;/form>
&lt;div *ngIf="!isShow" class="col">
    &lt;p>Palaute on lähetty&lt;/p>
&lt;/div>
&lt;button type="button" class="btn poista-tili" (click)="this.dataService.feedbackForm.reset()">
    Peruuta
&lt;/button>
&lt;button type="button" class="btn" (click)="toggleDisplay()" (click)="onSubmit()"
    [disabled]="!this.dataService.feedbackForm.valid">
    Lähetä
&lt;/button>
                </code>
            </pre>
            <p>
                Alla on miltä palauteformi sitten lopulta näytti sivuilla, lopussa on kaksi kuvaa miltä se näytti
                mobiilissa.
            </p>
            <div class="row justify-content-center galleria">
                <a data-fancybox="gallery" data-options='{"caption" : "Formin perus näkymä"}'
                    href="assets\img\big\palaute_big_1.jpg">
                    <img src="assets\img\small\palaute_small_1.jpg">
                </a>
                <a data-fancybox="gallery" data-options='{"caption" : "Formin näkymä kun kentät olivat täytety oikein"}'
                    href="assets\img\big\palaute_big_2.jpg">
                    <img src="assets\img\small\palaute_small_2.jpg">
                </a>
                <a data-fancybox="gallery" data-options='{"caption" : "Formin näkymä kun kentissä oli virheitä"}'
                    href="assets\img\big\palaute_big_3.jpg">
                    <img src="assets\img\small\palaute_small_3.jpg">
                </a>
                <a data-fancybox="gallery" data-options='{"caption" : "Formi mobiilissa"}'
                    href="assets\img\big\palaute_big_4.jpg">
                    <img src="assets\img\small\palaute_small_4.jpg">
                </a>
                <a data-fancybox="gallery" data-options='{"caption" : "Formi mobiilissa virheillä"}'
                    href="assets\img\big\palaute_big_5.jpg">
                    <img src="assets\img\small\palaute_small_5.jpg">
                </a>

            </div>

            <h3>Testaus</h3>
            <p>
                Tein sovelluksen testauksen käyttämällä Exceliä mihin kirjoitin käyttäjäkertomuksen ja sitten sen
                sisällä olevat hyväksymiskriteerit joiden perusteella testasin sitten sovellusta käsin. Kyseisessä
                prosessissa sai hyvin tuntumaa siihen minkälaista testaaminen on ja mitä siinä pitää ottaa huomioon.
            </p>
            <div class="row justify-content-center galleria">
                <a data-fancybox="gallery" data-options='{"caption" : "Kirjoitin testaus raportit Exceliin"}'
                    href="assets\img\big\testaus_iso_1.png">
                    <img src="assets\img\small\testaus_small_1.png">
                </a>
                <a data-fancybox="gallery" data-options='{"caption" : "Kirjoitin testaus raportit Exceliin"}'
                    href="assets\img\big\testaus_iso_2.png">
                    <img src="assets\img\small\testaus_small_2.png">
                </a>
                <a data-fancybox="gallery" data-options='{"caption" : "Kirjoitin testaus raportit Exceliin"}'
                    href="assets\img\big\testaus_iso_3.png">
                    <img src="assets\img\small\testaus_small_3.png">
                </a>
                <a data-fancybox="gallery" data-options='{"caption" : "Kirjoitin testaus raportit Exceliin"}'
                    href="assets\img\big\testaus_iso_4.png">
                    <img src="assets\img\small\testaus_small_4.png">
                </a>
                <a data-fancybox="gallery" data-options='{"caption" : "Kirjoitin bugi raportoinnin kanssa Exceliin"}'
                    href="assets\img\big\testaus_iso_5.png">
                    <img src="assets\img\small\testaus_small_5.png">
                </a>
            </div>

        </article>

        <!-- Reflektointi -->
        <article id="Reflektointi" data-anchor="Reflektointi">
            <h2>Reflektointi</h2>
            <h3>Mistä lähdin</h3>
            <p>
                Ennen projektin alkua minulla oli hieman kokemusta HTML:n ja CSS:n käytöstä. Olin käynyt koulussa
                ensimmäisena vuonna WebPage-kehityskurssin, jossa käytiin lävitse HTML- ja CSS-koodin perusteita.
                Kyseisen kurssin aikana tein lopputyönä staattisen nettisivun, joka oli responsiivinen. Muuta
                kokemusta minulla ei ollut HTML- & CSS-koodauksesta.
            </p>
            <p>
                Angulariin olin ehtinyt tutustua vähän syksyllä Web-sovelluskehityskurssin aikana, mutta en kuitenkaan
                kovin paljoa. Kurssin aikana ehdin tekemään parit tehtävät
                liittyen Angularin perustoimintoihin.
            </p>
            <p>
                Firebaseen en ollut tutustunut ennen tätä kevään projektia kertaakaan, olin kuullut siitä puhuttavan
                kyllä Web-sovelluskehityskurssin aikana. Kyseisellä kurssilla olisi ollut myös muutamat tehtävät
                liittyen Firebasen käyttöön, mutta en ollut vielä ehtinyt niihin tehtäviin asti syksyn aikana.
            </p>
            <p>
                Ennen projektia en ollut tehnyt mitään testaukseen liittyvää, olin vain kuullut siitä puhuttavan.
            </p>
            <p>
                En ollut myöskään koskaan ollut mukana missään projektityössä, jotenka koko projektityöskentely oli
                minulle täysin uusi asia.
            </p>

            <h3>Mitä halusin oppia</h3>
            <p>
                Halusin syventää aikaisempaa osaamistani HTML:stä & CSS:stä, jotta ei tarvitsisi koko ajan käydä
                tarkistamassa Googlesta syntaksia ja että perusasiat tulisivat selkärangasta.
            </p>
            <p>
                Testauksen suhteen halusin oppia perusteet ja tietää asiasta enemmän.
            </p>
            <p>
                Angularista ja TypeScriptistä halusin projektin aikana oppia lähinnä perusteet sillä niistä minulla ei
                ollut aikaisempaa kokemusta.
            </p>

            <h3>Mihin päädyin</h3>
            <p>
                HTML-puolella pystyn nykyään sulavasti tekemään valmiin pohjan sivulle ilman että pitää turvautua
                Googlen apuun. Ongelmatilanteista osaan kuitenkin tarvittaessa etsiä ratkaisun myös Googlen avulla
                nopeasti.
            </p>
            <p>
                Styluksen avulla opin kirjoittamaan CSS:ää huomattavasti sulavammin ja asiat alkoivat tulemaan muistista
                paremmin ilman että tarvitsi alkaa hakemaan, että mitenkäs jokin asia tehtiin.
            </p>
            <p>
                Testauksessa opin miten hyväksymiskriteerit tulee kirjoittaa, jotta sovellusta voidaan testata
                sujuvasti.
                Projektin aikana opin miten manuaalitestauksen raportointi pitää tehdä ja miten toimia, jos testauksen
                aikana tulee bugeja vastaan.
            </p>
            <p>
                Angularista & TypeScriptistä opin sovelluksen kehityksen aikana perusteet ja pystyn nykyään tutoriaalien
                perusteella kirjoittamaan koodia. En osaa vielä täysin soveltaa TypeScriptiä, sitä varten pitäisi
                harjoitella vielä huomattavasti enemmän, mutta tutoriaalien ja ohjeiden perusteella työn tekeminen
                sujuu. Osaan myös käyttää Googlea hyvin apuna ja osaan hakea sieltä ongelmiini ratkaisuja.
            </p>
            <p>
                Sovelluksen teon aikana opin todella paljon uusia asioita projektityöskentelystä, se ei ole vain
                pelkästään koodin kirjoittamista vaan pitää sisällään paljon muitakin asioita. Erinäisiin kokouksiin ja
                palavereihin meni yllättävän paljon aikaa. Projektin aikana opin myös etätyöskentelystä paljon uusia
                asioita. Alkuun minulla oli hankalaa saada sopivaa työrytmiä aikaan ja tuntui että oli paljon erinäisiä
                häiriötekijöitä, jotka haittasivat työskentelyä. Projektin loppupuolella onnistuin luomaan itselleni
                semmoisen työtilan missä pystyin tekemään töitä ongelmitta.
            </p>


        </article>
    </div>

    <div class="push"></div>
    <!-- Footeri -->
    <footer class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-md-5 col-12">
                <h4>Leevi</h4>
                <p>
                    Olen 29-vuotias tietojenkäsittelyn tradenomiopiskelija Jyväskylän ammattikorkeakoulussa. Olen
                    painottanut omia opintojani web- & ohjelmistopuolelle. Vapaa-ajallani harrastan
                    tietokoneella pelaamista, MTG:tä ja valokuvaamista.
                </p>
            </div>
            <div class="col-auto">
                <h4>Yhteystiedot</h4>
                <ul>
                    <li>
                        <a href="mailto:leevi.popponen@gmail.com">
                            <i class="fas fa-envelope-open-text"></i>
                            Sähköposti
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/leevi-pöppönen-666a49130/">
                            <i class="fab fa-linkedin"></i>
                            LinkedIn
                        </a>
                    </li>
                    <li>
                        <i class="fab fa-discord"></i>
                        Cereniq#3564
                    </li>
                </ul>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-auto">
                <p>© Leevi Pöppönen - 2020</p>
            </div>
        </div>

    </footer>


    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="assets/js/prism.js"></script>

    <script src="assets/js/jquery.fancybox.js"></script>

    <script src="assets/js/basic.js"></script>

</body>

</html>